{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}New films and ratings{% endblock %}</h2>
{% endblock %}

{% block content %}
	<div>
		<table id="film_table">
		  <tr>
			<th>Title</th>
			<th onclick="sortTable(1)" class="headerSortUp headerSortDown"><p>People rating</p><p style="cursor:pointer">&#9650 &#x25BC</p></th>
			<th>People rating count</th>
			<th onclick="sortTable(3)" class="headerSortUp headerSortDown"><p>Media rating</p><p style="cursor:pointer">&#9650 &#x25BC</p></th>
			<th>Major media ratings</th>
	      </tr>
		{% for film in films %}
		  <tr>
		    <td class="c1"><a href="{{ 'http://www.allocine.fr' + film['url'] }}">{{ film['name'] }}</a></td>
		    
				{% if film['People Rating'][0] is not defined %}
					<td class="c2">None</td>
				{% else %}
					<td class="c2">{{ film['People Rating'][0] }}</td>
				{% endif %}
			
		    
				{% if film['People Rating'][1] is not defined %}
					<td class="c3">None</td>
				{% else %}
					<td class="c3">{{ film['People Rating'][1] }}</td>
				{% endif %}
			
				{% if film['Media Rating'][0] is not defined %}
					<td class="c4">None</td>
				{% else %}
					<td class="c4">{{ film['Media Rating'][0] }}</td>
				{% endif %}
		    
				{% if film['Media Rating'][2] is not defined or film['Media Rating'][2]|length==0 %}
					<td class="c5">None</td>
				{% else %}
					<td class="c5">
					{% for key in film['Media Rating'][2] %}
						<p> {{ key }}:{{ film['Media Rating'][2][key] }}</p>
					{% endfor %}
					</td>
				{% endif %}
			
		  </tr>
		{% endfor %}
		</table>
	</div>
	
	<script>
function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("film_table");
  switching = true;
  // Set the sorting direction to ascending:
  dir = "asc";
  /* Make a loop that will continue until
  no switching has been done: */
  while (switching) {
    // Start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /* Loop through all table rows (except the
    first, which contains table headers): */
    for (i = 1; i < (rows.length - 1); i++) {
      // Start by saying there should be no switching:
      shouldSwitch = false;
      /* Get the two elements you want to compare,
      one from current row and one from the next: */
      x = rows[i].getElementsByTagName("td")[n];
      y = rows[i + 1].getElementsByTagName("td")[n];
      /* Check if the two rows should switch place,
      based on the direction, asc or desc: */
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /* If a switch has been marked, make the switch
      and mark that a switch has been done: */
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      // Each time a switch is done, increase this count by 1:
      switchcount ++;
    } else {
      /* If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again. */
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}
	</script>
{% endblock %}